body { margin-left: 10%; margin-right: 10%; }
@font-face {
    font-family: monospace;
    src: prince-lookup("jetbrains mono");
}
@font-face {
    font-family: serif;
    src: prince-lookup("montserrat alternates");
}
@font-face {
    font-family: sans-serif;
    src: prince-lookup("nunito");
}
