html { font-family: sans-serif, fallback; }
body { margin-left: 10%; margin-right: 10%;}
@font-face {
    font-family: monospace;
    src: prince-lookup("jetbrainsmono");
}
@font-face {
    font-family: serif;
    src: prince-lookup("notoserif");
}
@font-face {
    font-family: sans-serif;
    src: prince-lookup("notosans");
}
/* https://stackoverflow.com/a/26930691 */
@font-face {
    font-family: fallback;
    src: url("/home/malc/x/fnt/pan/LastResort-Regular.ttf");
    /* src: prince-lookup("Last Resort High-Efficienacy"); */
}
