body { margin-left: 10%; margin-right: 10%; }
@font-face {
    font-family: monospace;
    src: prince-lookup("jetbrains mono");
}
@font-face {
    font-family: serif;
    src: prince-lookup("noto serif");
}
@font-face {
    font-family: sans-serif;
    src: prince-lookup("noto sans");
}
